.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.modal-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen
and (min-width: 320px)
and (max-width: 780px) {
    .modal{
        margin-bottom: 12px;
    }
    .modal-spinner{
        position: absolute;
        top: 40%;
    }
}