  .navbar{
    top: 0;
    width: auto;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.959);
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-left, .navbar-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}


.navbar-icon {
    font-size: 25px;
    color: white;
    margin-right: 70px;
    text-decoration: none;
}

.navbar-center {
    flex: 6;
}

.navbar-center-cont{
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar-list-item {
    margin-right: 40px;
    font-size: 20px;
}

.navbar-link{
    color: white;
}

.navbar-link:hover{
    color: rgb(28, 186, 197);
}

.navbar-left-img{
    width: 200px;
}


.navbar-text{
    color: aliceblue;
    font-size: 23px;
}  

@media only screen
and (min-width: 320px)
and (max-width: 780px) {
    .navbar{
        height: 60px;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .navbar-icon {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.774);
        margin: 9px;
        text-decoration: none;
    }

    .navbar-center{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .navbar-center-cont{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navbar-list-item {
        list-style: none;
        margin-right: 10px;
        font-size: 13px;
    }

    .navbar-text{
        color: white;
        font-size: 13px;
    }

    .navbar-left{
        margin-left: 15px;
    }

    .navbar-left-img{
        width: 100px;
    }
}

