.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 6px;
}
.about-container{
    position: relative;
    display: flex;
    height: 80vh;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    background-color: rgba(75, 64, 64, 0.39);
    border-radius: 10px;
}
.about-left-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img-left-top {
    width: 220px;
    height: 230px;
    border-radius: 10px;
}
.about-right-top{
    margin-left: 10px;
    width: 50%;
}
.about-text-right-top {
    color: wheat;
    font-size: 15px;
    text-align: justify;
    line-height: 28px; 
    margin-left: 10px;   
}
.about-down{
    display: flex;
}
.about-img-down{
    width: 320px;
    height: 200px;
    margin: 20px;
}

@media only screen
and (min-width: 320px)
and (max-width: 780px) {
    .about{
        height: 100vh;
    }
    .about-container {
        flex-wrap: wrap;
        height: 90vh;
        justify-content: center;
        width: 95vw;
    }
    .about-left-top{
        height: 220px;
        margin-top: 27px;
    }

    .about-img-left-top{
        width: 160px;
        height: 180px;
    }
    .about-right-top{
        width: 190px;
        height: 210px;
        margin-top: 30px;
    }
    .about-text-right-top{
        position: absolute;
        right: 10px;
        margin-left: 20px;
        width: 180px;
        font-size: 10.5px;
        color: white;
        text-align: justify;
        line-height: 14.5px;
    }
    .about-down{
        display: flex;
        flex-direction: column;
    }
    .about-img-down{
        width: 250px;
        height: 150px;
        margin: 8px;
    }
}