.about{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 582px;
    
}

.about-container{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
}

.about-left-top{
    margin-top: 50px;
}

.about-img-left-top {
    width: 180px;
    height: 250px;
    border-radius: 20px;
}

.about-right-top{
    margin-left: 15px;
    margin-top: 50px;
    width: 50%;
}

.about-text-right-top {
    color: wheat;
    font-size: 15px;
    text-align: justify;
    line-height: 28px;    
}

.about-down{
    display: flex;
}

.about-img-down{
    width: 320px;
    height: 200px;
    margin: 20px;
}

.about-img-down:hover{
    width: 720px;
    height: 500px;
}


@media only screen
and (min-width: 320px)
and (max-width: 780px) {
    .about{
        height: 100vh;
        display: flex;
        margin-top: 5px;
    }

    .about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
    }

    .about-left-top{
        margin-top: 35px;
    }

    .about-img-left-top{
        width: 150px;
        height: 210px;
    }

    .about-right-top{
        width: 180px;
        height: 210px;
        margin-left: 8px;
        margin-top: 30px;
    }

    .about-text-right-top{
        font-size: 10.5px;
        color: white;
        text-align: justify;
        line-height: 14.5px;
    }

    .about-down{
        display: flex;
        flex-direction: column;
    }

    .about-img-down{
        width: 280px;
        height: 180px;
        margin: 8px;
        margin-top: 4px;
    }

    .about-img-down:hover{
        width: 500px;
        height: 280px;
    }
}